.box {
    box-shadow: var(--box-shadow);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 2px;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
    background-color: unset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .header-text {
        margin: 0;
        padding: 0;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        color: var(--black-color);
        font-weight: 700;
        -webkit-text-decoration: unset;
        text-decoration: unset;
        font-size: 20px;
        line-height: 28px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

    button {
        padding: 0;
        display: flex;
        justify-content: end;
        color: #82869e;
        span {
            display: flex;
            align-items: center;
            color: var(--black-color);
            font-size: 1.4rem;
            font-weight: 400;

            button {
                padding: 0;
            }

            svg {
                margin-left: 2px;
                font-weight: 1;
            }
        }
        &:hover {
            color: var(--black-color);
        }
    }
}
