// .makeStyles-flexPaper-2{
//     padding: 20px 10px !important;
// }
.css-z2eky3-MuiTypography-root {
    font-size: 1.6rem !important;
}
.css-10hburv-MuiTypography-root {
    font-size: 1.6rem !important;
}

.css-yb0lig {
    font-size: 1.5rem !important;
}

.css-1bigob2 {
    font-size: 1.6rem !important;
}

.css-6islxc {
    font-size: 1.6rem !important;
}

.css-q34dxg {
    font-size: 1.6rem !important;
}

.css-rorn0c-MuiTableContainer-root * {
    font-size: 1.5rem !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root * {
    font-size: 1.5rem !important;
}

.css-169iwlq-MuiCalendarPicker-root * {
    font-size: 1.4rem !important;
}

.css-pdct74-MuiTablePagination-selectLabel {
    font-size: 1.5rem !important;
    margin-top: 0;
}
.css-10by3a5-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem.Mui-selected {
    font-size: 1.3rem !important;
}
.css-194a1fa-MuiSelect-select-MuiInputBase-input.MuiSelect-select {
    font-size: 1.4rem;
}

.css-i4bv87-MuiSvgIcon-root {
    width: 1.2em !important;
    height: 1.2em !important;
    font-size: 1.6rem !important;
}

.css-8u39c-MuiTypography-root {
    font-size: 1.8rem !important;
}

.css-ciy9n4-MuiPaper-root-MuiAppBar-root span {
    font-size: 1.5rem;
}
.css-15v75y9 span {
    font-size: 1.5rem;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    font-size: 1.5rem !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.3rem !important;
}

.css-4rdffl-MuiDataGrid-panelFooter button {
    font-size: 1.4rem !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.5rem !important;
}

.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input,
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-size: 1.6rem !important;
}

.addButton {
    display: flex;
    align-items: center;
}

.addButton * {
    font-size: 1.5rem !important;
}

.greenColor {
    color: green !important;
}
.redColor {
    color: red !important;
}

.yellowColor {
    color: #c96 !important;
}

.productReviewsForm {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    & * {
        font-size: 1.5rem !important;
    }
}

.flexDiv {
    & * {
        font-size: 1.5rem !important;
    }
    & p {
        margin-top: 0;
        margin-right: 4rem;
        color: black;
    }
}

.MuiAutocomplete-popper * {
    font-size: 1.5rem !important;
}

.react-confirm-alert-body {
    font-size: 1.5rem;
    & h1 {
        font-size: 2rem;
    }
}

.confirmCartItemsContainer {
    & > div {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    & img {
        width: 120px;
        height: 120px;
    }
    & a,
    span {
        font-size: 1.5rem;
    }
}

.orderDetail {
    & > div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    & p {
        font-size: 1.6rem;
        margin-top: 0;
    }
    & span {
        font-size: 1.4rem;
    }
}

.css-1otb2k4-MuiFormControl-root {
    & * {
        font-size: 1.3rem !important;
    }
}

.updateOrderForm > div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.makeStyles-flexPaper-2 {
    padding: 20px 10px !important;
}

.statistical-number {
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    margin: 0px;
    & + p {
        color: black;
    }
}

.makeStyles-flexPaper-38:hover {
    transform: translateY(0px) !important;
}

.go-to-detail {
    background-color: #ddd;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin: 0px;

    &:hover {
        border: 1px solid #333;
    }
}

.lineChart {
    margin-top: 1.3rem;
}

.doughnutChart {
    margin-top: 1.3rem;
}

.tableInventory h6 {
    margin: 0;
}

.cancelText {
    font-size: 2rem !important;
    font-weight: bold;
    margin-right: 2rem;
    color: #1976d2;
    cursor: pointer;
    transition: 0.25s all linear;
    &:hover {
        text-decoration: underline;
    }
}

.sidebar {
    position: relative;
    // height: 100% !important;

    .box-sidebar {
        position: fixed;
        top: 64px;
        width: inherit;
    }
}

.css-1e2bxag-MuiDataGrid-root.MuiDataGrid-autoHeight {
    font-size: 12px;
}

// //
body.react-confirm-alert-body-element {
    overflow: hidden;
}

.react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
}

.react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.react-confirm-alert-body > h1 {
    margin-top: 0;
}

.react-confirm-alert-body > h3 {
    margin: 0;
    font-size: 16px;
}

.react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.react-confirm-alert-button-group > button {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainerContent {
    width: 100%;
}

.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    width: 100%;
    text-align: center;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cellContent {
    width: 100%;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    min-width: 0px !important;
    padding: 0px !important;
    color: #333 !important;

    &:hover {
        color: #0a58ca !important;
    }
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight) > .MuiDataGrid-cell {
    border: 1px solid #eaeaea;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnSeparator {
    opacity: 0 !important;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeader--sortable {
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.css-1j9kmqg-MuiDataGrid-toolbarContainer {
    border-bottom: 2px solid #eaeaea;
    padding: 0px !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    border-left: 1px solid #eaeaea !important;
    border-right: 1px solid #eaeaea !important;
    border-radius: 0px !important;
}

.box-Action-admin {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.css-136no5f {
    padding: 0px !important;
}

.css-ttn1xo {
    padding: 0px !important;
}

.css-1ex1afd-MuiTableCell-root {
    padding: 0px !important;
    padding-left: 10px !important;
    border: 1px solid #ddd !important;
}

.css-1q1u3t4-MuiTableRow-root th {
    border: 1px solid #ddd !important;
    text-align: center;
}

.css-apqrd9-MuiTableBody-root td {
    text-align: center;

    padding-left: 0px !important;
}

.css-1wlk0hk-MuiAvatar-root {
    margin-left: auto !important;
    margin-right: auto !important;
}

.css-apqrd9-MuiTableBody-root tr {
    height: 40px;
}

.css-apqrd9-MuiTableBody-root {
    height: 50px;
    max-height: 50px;
    overflow-y: scroll;
}

.sidebar{
    height: max(100%, 100vh);
    border-right: 1px solid #ddd;
}

.css-xz1dy3-MuiButtonBase-root-MuiButton-root{
    font-size: 1.5rem !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    font-size: 1.5rem !important;
}