// .makeStyles-flexPaper-2{
//     padding: 20px 10px !important;
// }
.css-z2eky3-MuiTypography-root {
    font-size: 1.6rem !important;
}
.css-10hburv-MuiTypography-root {
    font-size: 1.6rem !important;
}

.css-yb0lig {
    font-size: 1.5rem !important;
}

.css-1bigob2 {
    font-size: 1.6rem !important;
}

.css-6islxc {
    font-size: 1.6rem !important;
}

.css-q34dxg {
    font-size: 1.6rem !important;
}

.css-rorn0c-MuiTableContainer-root * {
    font-size: 1.5rem !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root * {
    font-size: 1.5rem !important;
}

.css-169iwlq-MuiCalendarPicker-root * {
    font-size: 1.4rem !important;
}

.css-pdct74-MuiTablePagination-selectLabel {
    font-size: 1.5rem !important;
    margin-top: 0;
}
.css-10by3a5-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem.Mui-selected {
    font-size: 1.3rem !important;
}
.css-194a1fa-MuiSelect-select-MuiInputBase-input.MuiSelect-select {
    font-size: 1.4rem;
}

.css-i4bv87-MuiSvgIcon-root {
    width: 1.2em !important;
    height: 1.2em !important;
    font-size: 1.6rem !important;
}

.css-8u39c-MuiTypography-root {
    font-size: 1.8rem !important;
}

.css-ciy9n4-MuiPaper-root-MuiAppBar-root span {
    font-size: 1.5rem;
}
.css-15v75y9 span {
    font-size: 1.5rem;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    font-size: 1.5rem !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.3rem !important;
}

.css-4rdffl-MuiDataGrid-panelFooter button {
    font-size: 1.4rem !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.5rem !important;
}

.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input,
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-size: 1.6rem !important;
}

.addButton {
    display: flex;
    align-items: center;
}

.addButton * {
    font-size: 1.5rem !important;
}

.greenColor {
    color: green !important;
}
.redColor {
    color: red !important;
}

.yellowColor {
    color: #c96 !important;
}

.productReviewsForm {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    & * {
        font-size: 1.5rem !important;
    }
}

.flexDiv {
    & * {
        font-size: 1.5rem !important;
    }
    & p {
        margin-top: 0;
        margin-right: 4rem;
        color: black;
    }
}

.MuiAutocomplete-popper * {
    font-size: 1.5rem !important;
}

.react-confirm-alert-body {
    font-size: 1.5rem;
    & h1 {
        font-size: 2rem;
    }
}

.confirmCartItemsContainer {
    & > div {
        display: flex;
        align-items: center;
        gap: 12px;
        border: 1px solid #ddd;
    }
    & img {
        width: 120px;
        height: 120px;
    }
    & a,
    span {
        font-size: 1.5rem;
    }
}

.orderDetail {
    & > div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    & p {
        font-size: 1.6rem;
        margin-top: 0;
    }
    & span {
        font-size: 1.4rem;
    }
}

.css-1otb2k4-MuiFormControl-root {
    & * {
        font-size: 1.3rem !important;
    }
}

.updateOrderForm > div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.makeStyles-flexPaper-2 {
    padding: 20px 10px !important;
}

.statistical-number {
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    margin: 0px;
    & + p {
        color: black;
    }
}

.makeStyles-flexPaper-38:hover {
    transform: translateY(0px) !important;
}

.go-to-detail {
    background-color: #ddd;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin: 0px;

    &:hover {
        border: 1px solid #333;
    }
}

.lineChart {
    margin-top: 1.3rem;
}

.doughnutChart {
    margin-top: 1.3rem;
}

.tableInventory h6 {
    margin: 0;
}

.cancelText {
    font-size: 2rem !important;
    font-weight: bold;
    margin-right: 2rem;
    color: #1976d2;
    cursor: pointer;
    transition: 0.25s all linear;
    &:hover {
        text-decoration: underline;
    }
}

.sidebar {
    position: relative;
    // height: 100% !important;

    .box-sidebar {
        position: fixed;
        top: 64px;
        width: inherit;
    }
}

.css-1e2bxag-MuiDataGrid-root.MuiDataGrid-autoHeight {
    font-size: 12px;
}

// //
body.react-confirm-alert-body-element {
    overflow: hidden;
}

.react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
}

.react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.react-confirm-alert-body > h1 {
    margin-top: 0;
}

.react-confirm-alert-body > h3 {
    margin: 0;
    font-size: 16px;
}

.react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.react-confirm-alert-button-group > button {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainerContent {
    width: 100%;
}

.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    width: 100%;
    text-align: center;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cellContent {
    width: 100%;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    min-width: 0px !important;
    padding: 0px !important;
    color: #333 !important;

    &:hover {
        color: #0a58ca !important;
    }
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight) > .MuiDataGrid-cell {
    border: 1px solid #eaeaea;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnSeparator {
    opacity: 0 !important;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeader--sortable {
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.css-1j9kmqg-MuiDataGrid-toolbarContainer {
    border-bottom: 2px solid #eaeaea;
    padding: 0px !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    border-left: 1px solid #eaeaea !important;
    border-right: 1px solid #eaeaea !important;
    border-radius: 0px !important;
}

.box-Action-admin {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.css-136no5f {
    padding: 0px !important;
}

.css-ttn1xo {
    padding: 0px !important;
}

.css-1ex1afd-MuiTableCell-root {
    padding: 0px !important;
    padding-left: 10px !important;
    border: 1px solid #ddd !important;
}

.css-1q1u3t4-MuiTableRow-root th {
    border: 1px solid #ddd !important;
    text-align: center;
}

.css-apqrd9-MuiTableBody-root td {
    text-align: center;

    padding-left: 0px !important;
}

.css-1wlk0hk-MuiAvatar-root {
    margin-left: auto !important;
    margin-right: auto !important;
}

.css-apqrd9-MuiTableBody-root tr {
    height: 40px;
}

.css-apqrd9-MuiTableBody-root {
    height: 50px;
    max-height: 50px;
    overflow-y: scroll;
}

.sidebar{
    height: max(100%, 100vh);
    border-right: 1px solid #ddd;
}

.css-xz1dy3-MuiButtonBase-root-MuiButton-root{
    font-size: 1.5rem !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    font-size: 1.5rem !important;
}

.swal2-container.swal2-center>.swal2-popup{
    align-self: center;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

.swal2-progress-steps{
    align-items: center;
    background: inherit;
    flex-wrap: wrap;
    font-weight: 600;
    margin: 1.25em auto;
    max-width: 100%;
    padding: 0;
}

.swal2-icon.swal2-success{
    border-color: #a5dc86; 
    color: #a5dc86;
}

.swal2-icon{
    border: .25em solid #000;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: default;
    font-family: inherit;
    height: 5em;
    justify-content: center;
    line-height: 5em;
    margin: 2.5em auto .6em;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5em;
}

.swal2-title{
    word-wrap: break-word;
    color: inherit;
    font-size: 1.875em;
    font-weight: 600;
    margin: 0;
    max-width: 100%;
    padding: .8em 1em 0;
    position: relative;
    text-align: center;
    text-transform: none;
}

.swal2-html-container{
    word-wrap: break-word;
    color: inherit;
    font-size: 1.125em;
    font-weight: 400;
    justify-content: center;
    line-height: normal;
    margin: 1em 1.6em .3em;
    overflow: auto;
    padding: 0;
    text-align: center;
    word-break: break-word;
    z-index: 1;
}

swal2-file, .swal2-input, .swal2-textarea {
    background: inherit;
    border: 1px solid #d9d9d9;
    border-radius: .1875em;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%), 0 0 0 3px transparent;
    box-sizing: border-box;
    color: inherit;
    font-size: 1.125em;
    transition: border-color .1s,box-shadow .1s;
    width: auto;
}

.swal2-file {
    background: inherit;
    font-size: 1.125em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.swal2-file, .swal2-input, .swal2-textarea {
    background: inherit;
    border: 1px solid #d9d9d9;
    border-radius: .1875em;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 6%), 0 0 0 3px transparent;
    box-sizing: border-box;
    color: inherit;
    font-size: 1.125em;
    transition: border-color .1s,box-shadow .1s;
    width: auto;
}
.swal2-checkbox, .swal2-file, .swal2-input, .swal2-radio, .swal2-select, .swal2-textarea {
    margin: 1em 2em 3px;
}

.swal2-select {
    background: inherit;
    color: inherit;
    font-size: 1.125em;
    max-width: 100%;
    min-width: 50%;
    padding: .375em .625em;
}

.swal2-checkbox, .swal2-radio {
    align-items: center;
    background: #fff;
    color: inherit;
    justify-content: center;
}

.swal2-validation-message {
    align-items: center;
    background: #f0f0f0;
    color: #666;
    font-size: 1em;
    font-weight: 300;
    justify-content: center;
    margin: 1em 0 0;
    overflow: hidden;
    padding: .625em;
}

.swal2-actions {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.25em auto 0;
    padding: 0;
    width: auto;
    z-index: 1;
}

.swal2-footer {
    border-top: 1px solid #eee;
    color: inherit;
    font-size: 1em;
    justify-content: center;
    margin: 1em 0 0;
    padding: 1em 1em 0;
}

.swal2-timer-progress-bar-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0;
    grid-column: auto!important;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
    border-radius: 7.5em 0 0 7.5em;
    left: -2.0635em;
    top: -.4375em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 3.75em 3.75em;
    transform-origin: 3.75em 3.75em;
}
.swal2-icon.swal2-success [class^=swal2-success-circular-line] {
    border-radius: 50%;
    height: 7.5em;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 3.75em;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    left: .8125em;
    top: 2.875em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1.5625em;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #a5dc86;
    border-radius: .125em;
    display: block;
    height: .3125em;
    position: absolute;
    z-index: 2;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    right: .5em;
    top: 2.375em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 2.9375em;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #a5dc86;
    border-radius: .125em;
    display: block;
    height: .3125em;
    position: absolute;
    z-index: 2;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid hsla(98,55%,69%,.3);
    border-radius: 50%;
    box-sizing: content-box;
    height: 100%;
    left: -.25em;
    position: absolute;
    top: -.25em;
    width: 100%;
    z-index: 2;
}

.swal2-icon.swal2-success .swal2-success-fix {
    height: 5.625em;
    left: 1.625em;
    position: absolute;
    top: .5em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: .4375em;
    z-index: 1;
}

.swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right {
    -webkit-animation: swal2-rotate-success-circular-line 4.25s ease-in;
    animation: swal2-rotate-success-circular-line 4.25s ease-in;
}
.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
    border-radius: 0 7.5em 7.5em 0;
    left: 1.875em;
    top: -.6875em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 3.75em;
    transform-origin: 0 3.75em;
}
.swal2-icon.swal2-success [class^=swal2-success-circular-line] {
    border-radius: 50%;
    height: 7.5em;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 3.75em;
}

.swal2-loader {
    align-items: center;
    -webkit-animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
    animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
    border-color: #2778c4 transparent;
    border-radius: 100%;
    border-style: solid;
    border-width: .25em;
    display: none;
    height: 2.2em;
    justify-content: center;
    margin: 0 1.875em;
    width: 2.2em;
}

.swal2-styled.swal2-confirm {
    background: transparent none repeat 0 0/auto auto padding-box border-box scroll;
    background: initial;
    background-color: #7066e0;
    border: 0;
    border-radius: .25em;
    color: #fff;
    font-size: 1em;
}

.swal2-styled.swal2-deny {
    background: transparent none repeat 0 0/auto auto padding-box border-box scroll;
    background: initial;
    background-color: #dc3741;
    border: 0;
    border-radius: .25em;
    color: #fff;
    font-size: 1em;
}

.swal2-styled:not([disabled]) {
    cursor: pointer;
}
[class^=swal2] {
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}
.swal2-styled {
    box-shadow: 0 0 0 3px transparent;
    font-weight: 500;
    margin: .3125em;
    padding: .625em 1.1em;
    transition: box-shadow .1s;
}

.swal2-styled.swal2-cancel {
    background: transparent none repeat 0 0/auto auto padding-box border-box scroll;
    background: initial;
    background-color: #6e7881;
    border: 0;
    border-radius: .25em;
    color: #fff;
    font-size: 1em;
}

.swal2-container.swal2-bottom, .swal2-container.swal2-center, .swal2-container.swal2-top {
    grid-template-columns: auto minmax(0,1fr) auto;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(0,0,0,.4);
}
[class^=swal2] {
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}
.swal2-container {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "top-start top top-end"
        "center-start center center-end"
        "bottom-start bottom-center bottom-end";
    grid-template-rows: minmax(-webkit-min-content,auto) minmax(-webkit-min-content,auto) minmax(-webkit-min-content,auto);
    grid-template-rows: minmax(min-content,auto) minmax(min-content,auto) minmax(min-content,auto);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding: .625em;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color .1s;
    z-index: 1060;
}

.swal2-popup {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #545454;
    display: none;
    font-family: inherit;
    font-size: 1rem;
    grid-template-columns: minmax(0,100%);
    max-width: 100%;
    padding: 0 0 1.25em;
    position: relative;
    width: 32em;
}

