.Address {
    margin: 16px auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1264px;
    min-height: 77vh;

    .container-address {
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        .container-left {
            width: 20%;
            // box-shadow: var(--box-shadow);
        }

        .container-right {
            width: 80%;
            // box-shadow: var(--box-shadow);
        }
    }
}

.container-right {
    h5 {
        font-size: 2rem;
    }

    .box-right {
        gap: 16px;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
    }
}