.container-products{
    display: flex;
    flex-wrap: wrap;
    background: #f6f6f6;
    justify-content: flex-start;
    gap: 2px;
    padding: 1px 0;
    padding-left: 1px;


    .box-products{
        width: calc(20% - 2px);
        background: var(--white-color);
    }
}