.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 500;
    // border-radius: 4px;
    color: var(--tex-color);
    transition: background ease-in-out 200ms;
    border-bottom: 1px solid #ddd;

    &.active {
        color: var(--primary);
        background-color: #ddd;
        border-radius: 0px;

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: #ddd;
    }
}

.title {
    margin-left: 10px;
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}
