.wrapper {
    position: relative;
    transition: opacity 0.3s ease 0s;

    .container {
        margin: 16px auto;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1264px;
        min-height: 70vh;

        .href {
            display: flex;
            padding: 30px 0;
        }
    }
}

.href {
    .home-href {
        display: flex;
        cursor: pointer;
        transition: color 0.2s ease 0s;

        .href-icon {
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--icon-color);
            font-size: 1.3rem;
        }

        .href-text {
            &:hover {
                color: var(--text-color);
            }
        }
    }
}

.href-text {
    color: var(--icon-color);
    font-size: 1.3rem;
}

.href-text-cart {
    color: var(--text-color);
}

.Cart-content {
    border-radius: 8px;
    background-color: var(--white-color);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    .box {
        background-color: var(--white-color);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        padding: 32px;
        width: 400px;
    }
}

.box {
    .image {
        position: relative;
        overflow: hidden;
        flex: 1 0 auto;
        display: flex;
        cursor: unset;
        z-index: 0;
        margin: auto;
        border-radius: 0px;
        padding-bottom: 100%;
        width: 100%;
    }

    .text {
        color: #848788;
        margin-top: 16px;
        margin-bottom: 24px;
    }
}

.image {
    img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease 0s;
    }
}

.header {
    box-sizing: border-box;
    margin: 0px 0px 16px;
    min-width: 0px;
    display: flex;

    .header-box {
        box-sizing: border-box;
        margin: 0px 16px 0px 0px;
        min-width: 0px;
        width: 67%;
    }
}

.header-box {
    .box-content {
        display: flex;
        -webkit-box-align: center;
        // align-items: center;
        // -webkit-box-pack: justify;
        // justify-content: space-between;

        .title {
            margin: 0px;
            padding: 0px;
            border-style: none;
            border-radius: 0px;
            border-width: 1px;
            border-color: unset;
            opacity: 1;
            background-color: transparent;
            color: inherit;
            font-weight: 700;
            text-decoration: unset;
            font-size: 24px;
            line-height: 32px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: unset;
            max-width: unset;
            min-width: unset;
            transition: color 0.3s ease 0s;
        }
    }
}

.download-pdf {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 33%;

    .pdf-box {
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        align-items: center;
    }
}

.box-btn {
    cursor: pointer;
    span {
        display: flex;
        align-items: center;

        .btn-text {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            font-size: 1.4rem;
            color: var(--black-color);
        }

        .btn-icon {
            width: 12px;
            height: 12px;
            margin-left: 2px;
            color: var(--black-color);

            svg {
                transition: transform 0.2s ease-in-out 0s;
            }
        }
    }

    &:hover .btn-icon svg {
        transform: rotate(180deg);
        position: relative;
    }
}

.content {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;

    .container-left {
        box-sizing: border-box;
        margin: 0px 16px 0px 0px;
        min-width: 0px;
        width: 67%;
    }

    .container-right {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        width: 33%;
    }
}

.container-left {
    .box {
        border-radius: 8px;
        background-color: var(--white-color);
        position: relative;
        margin-bottom: 16px;
        box-shadow: var(--box-shadow);
        overflow: hidden;

        .header-left {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            border-style: none none solid;
            border-radius: 0px;
            border-width: 1px;
            border-top-color: unset;
            border-right-color: unset;
            border-left-color: unset;
            opacity: 1;
            background-color: transparent;
            padding: 16px;
            border-bottom-color: #eaeaea;
        }
    }
}

.boxtext {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-radius: 0px;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: transparent;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.header-left {
    .name {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;

        .name-text {
            font-size: 15px;
            line-height: 24px;
        }
    }

    .unit-price {
        display: block;
        flex: 0 0 16.66%;
        max-width: 16.66%;
        text-align: center;

        .unit-price-text {
        }
    }

    .amount {
        display: block;
        flex: 0 0 16.66%;
        max-width: 16.66%;
        text-align: center;
    }

    .money {
        display: block;
        flex: 0 0 16.66%;
        max-width: 16.66%;
        text-align: right;
    }
}

.product {
    border-style: none;
    border-radius: 0px;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding: 16px;
    background-color: white;

    .product-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.product-row {
    .box-info {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;

        .info-row {
            display: flex;
            gap: 12px;
        }
    }
}

.info-row {
    .img {
        position: relative;
        display: inline-block;
        overflow: hidden;
        height: 80px;
        width: 80px;
        border: 1px solid #e4e5f0;

        img {
            width: 100%;
            height: 80px;
            transition: transform 0.3s ease 0s;
        }
    }
}

.info-content {
    flex: 1 1 0%;

    .boxinfo {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        font-weight: 400;
        text-decoration: unset;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }

    .btn-info {
        color: rgb(67, 70, 87);
        font-size: 13px;
        line-height: 20px;
        -webkit-line-clamp: 2;

        &:hover {
            color: var(--primary);
        }
    }

    .info-code {
        color: rgb(130, 134, 158);
        font-size: 12px;
        line-height: 16px;
        -webkit-line-clamp: unset;
    }
}

.btn-info {
    padding: 0;
}

.box-price {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
    border-style: none;
    border-radius: 0px;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: transparent;
    padding-right: 16px;

    .price-discount {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;

        .discount-span {
            border-style: none;
            border-radius: 0px;
            border-width: 1px;
            border-color: unset;
            opacity: 1;
            background-color: transparent;
            width: max-content;
            display: inline-block;
            color: inherit;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    .price-real {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;

        .real-span {
            text-decoration: line-through;
            color: rgb(130, 134, 158);
            font-size: 1.2rem;
        }
    }
}

.box-amount {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .amount-num {
        opacity: 1;
        height: 32px;
        width: 102px;
        border-radius: 0.25rem;
        background: rgb(248, 248, 252);
        border: 1px solid rgb(228, 229, 240);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        overflow: hidden;
        // justify-content: space-between;

        button {
            height: 100%;
            width: 32px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            border: none;
            background: transparent;
            transition: color background-color 0.2s ease 0s;
            color: var(--icon-color);

            &:hover {
                background-color: var(--hover-color);
                color: var(--text-color);
            }
        }

        .number {
            flex: 1 1 0%;
            display: flex;
            justify-content: center;
        }
    }

    .btn-delete {
        margin: 12px 0px 0px;
        padding: 0px;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        font-weight: 400;
        text-decoration: unset;
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
        cursor: pointer;
        color: #1990ff;

        &:hover {
            color: #da4343;
        }
    }
}

.box-sum-price {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;

    .sum-price {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;

        .sum-price-span {
            border-style: none;
            border-radius: 0px;
            border-width: 1px;
            border-color: unset;
            opacity: 1;
            background-color: transparent;
            width: max-content;
            display: inline-block;
            color: inherit;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
}

/**
*!container-right
*/

.container-right {
    .discount {
        border-radius: 8px;
        background-color: var(--white-color);
        position: relative;
        padding: 16px;
        margin-top: 0px;
        box-shadow: var(--box-shadow);
    }

    .total-money {
        border-radius: 8px;
        background-color: var(--white-color);
        position: relative;
        padding: 16px;
        margin-top: 16px;
        box-shadow: var(--box-shadow);
    }
}

.discount {
    .discount-header {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;

        h6 {
            font-size: 1.6rem;
            color: var(--text-color);
        }
    }

    .discount-content {
        font-size: 1.5rem;
        line-height: 24px;
        margin-right: 12px;
        color: var(--icon-color);
    }
}

.total-money {
    .total-money-header {
        h6 {
            font-size: 1.6rem;
            color: var(--text-color);
        }
    }

    .total-money-content {
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        padding-top: 8px;
        padding-bottom: 8px;

        .total-money-box {
            border-style: none;
            border-radius: 0px;
            border-width: 1px;
            border-color: unset;
            opacity: 1;
            background-color: transparent;
            padding-top: 8px;
            padding-bottom: 8px;

            .total-provisional-calculation {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: flex-start;
            }

            .into-money {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
    }
}

.total-provisional-calculation {
    .money-text {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        color: inherit;
        font-weight: 400;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4px;
    }

    .money-number {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        color: inherit;
        font-weight: 400;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
    }
}

.into-money {
    .money-text {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        color: inherit;
        font-weight: 400;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4px;
    }

    .money-number {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        color: inherit;
        font-weight: 400;
        text-decoration: unset;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;
        color: var(--primary);
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .VTA {
            margin: 0px;
            padding: 0px;
            border-style: none;
            border-radius: 0px;
            border-width: 1px;
            border-color: unset;
            opacity: 1;
            background-color: transparent;
            color: var(--icon-color);
            font-weight: 500;
            text-decoration: unset;
            font-size: 12px;
            line-height: 16px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: unset;
            max-width: unset;
            min-width: unset;
            transition: color 0.3s ease 0s;
        }
    }
}

.btn-money {
    a {
        width: 100%;

        span {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
