// .css-gcwvw8-MuiAutocomplete-root .MuiOutlinedInput-root{
//     padding: 0px !important;
//     overflow: hidden;
// }

.NewProduct{
    padding-right: 30px;
    display: flex;
    // gap: 20px;
    margin-top: 64px;

    .data{
        // box-shadow: var(--box-shadow);
        padding: 20px;
    }
}

