.Address {
    margin: 16px auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1264px;
    min-height: 77vh;

    .container-address {
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        .container-left {
            width: 20%;
            // box-shadow: var(--box-shadow);
        }

        .container-right {
            width: 80%;
            // box-shadow: var(--box-shadow);
        }
    }
}

// .container-right {
//     h5 {
//         font-size: 2rem;
//     }

//     .box-right {
//         gap: 16px;
//         flex-wrap: wrap;
//         align-items: flex-start;
//         width: 100%;
//     }
// }

.container-right {
    .add-default {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        margin-top: 1rem;
        padding: 2rem;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        position: relative;
        box-shadow: var(--box-shadow);
        margin-bottom: 30px;
        width: 640px;

        h5 {
            font-size: 2rem;
        }

        .box-add {
            display: flex;
            justify-content: space-between;

            .content-add {
                .name-add {
                    display: flex;
                    align-items: center;

                    .name {
                        margin: 0px 0.5rem 0px 0px;
                        padding: 0px;
                        border-style: none;
                        border-width: 1px;
                        border-color: unset;
                        opacity: 1;
                        color: inherit;
                        font-weight: 500;
                        text-decoration: unset;
                        font-size: 15px;
                        line-height: 24px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: unset;
                        max-width: 300px;
                        min-width: unset;
                        transition: color 0.3s ease 0s;
                    }

                    .caption-add {
                        opacity: 1;
                        display: inline-flex;
                        -webkit-box-align: center;
                        align-items: center;
                        padding-left: 0.25rem;
                        padding-right: 0.25rem;
                        height: 1rem;
                        border-radius: 0.25rem;
                        border: unset;
                        background-color: rgb(243, 245, 252);

                        .caption {
                            margin: 0px;
                            padding: 0px;
                            border-style: none;
                            border-width: 1px;
                            border-color: unset;
                            opacity: 1;
                            color: rgb(18, 48, 176);
                            font-weight: 500;
                            text-decoration: unset;
                            font-size: 10px;
                            line-height: 16px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            max-width: unset;
                            min-width: unset;
                            transition: color 0.3s ease 0s;
                        }
                    }
                }

                .info-add {
                    margin: 0.25rem 0px 0px;
                    padding: 0px;
                    border-style: none;
                    border-width: 1px;
                    border-color: unset;
                    opacity: 1;
                    color: rgb(130, 134, 158);
                    font-weight: 400;
                    text-decoration: unset;
                    font-size: 13px;
                    line-height: 20px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: unset;
                    max-width: unset;
                    min-width: unset;
                    transition: color 0.3s ease 0s;
                }
            }

            .btn-add {
                .btn {
                    opacity: 1;
                    height: 3rem;
                    padding: 0rem 1.25rem;
                    border-radius: 0.25rem;
                    background-color: transparent;
                    position: relative;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    outline: none;
                    min-width: 2rem;
                    cursor: pointer;
                    transition-duration: 80ms;
                    transition-property: background-color;
                    border: 1.5px solid rgb(218, 67, 67);
                    div {
                        margin: 0px;
                        padding: 0px;
                        border-style: none;
                        border-width: 1px;
                        border-color: unset;
                        opacity: 1;
                        color: rgb(218, 67, 67);
                        font-weight: 500;
                        text-decoration: unset;
                        font-size: 13px;
                        line-height: 30px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: unset;
                        max-width: unset;
                        min-width: unset;
                        transition: color 0.3s ease 0s;
                    }

                    &:hover{
                        background-color: #f0f0f0;
                    }
                }
            }
        }
    }

    .form {
        transition: all 0.3s ease 0s;
        h5 {
            font-size: 2rem;
        }

        .box-right {
            gap: 16px;
            flex-wrap: wrap;
            align-items: flex-start;
            width: 100%;
        }
    }
}

.box-right {
    .box-content {
        border-style: none;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        position: relative;
        padding: 16px;
        max-width: 640px;
        box-shadow: var(--box-shadow);

        .box-form {
            margin-bottom: 8px;

            h6 {
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 4px;
                font-size: 1.3rem;
            }

            input {
                display: block;
                width: 100%;
                border-radius: 4px;
                padding: 0.375rem 0.75rem;
                border: 1px solid #e0e0e0;
                min-height: 13px;
                height: 40px;
            }

            label {
                margin-right: 60px;
                margin-bottom: 8px;
                height: 13px;
                display: inline-flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;

                input {
                    height: 13px;
                    width: 13px;
                    cursor: pointer;
                }

                p {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.active-info {
    color: var(--primary);
    svg {
        width: 18px;
        height: 18px;
        color: currentColor;
    }

    h5 {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin: 0px 10px;
        flex: 1 1 0%;
        font-weight: 700;
    }
}
