.container-boximgs{
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    // justify-content: space-around;
    padding: 10px;
    border-radius: 4px;
}

.box-boximgs{
    width: calc(50% - 5px);
    text-align: center;
}