.container {
    background: white;
    border-radius: 8px;
    // margin-right: 16px;
    // margin-left: 16px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

    .header {
        position: relative;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        height: 56px;
        background-color: unset;

        .header-text {
            margin: 0px;
            padding: 0px;
            border-style: none;
            border-radius: 0px;
            border-width: 1px;
            border-color: unset;
            opacity: 1;
            background-color: transparent;
            color: rgb(27, 29, 41);
            font-weight: 700;
            text-decoration: unset;
            font-size: 20px;
            line-height: 28px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: unset;
            max-width: unset;
            min-width: unset;
            transition: color 0.3s ease 0s;
        }
    }
}

.carousel {
    padding: 0 15px;
    position: relative;

    .box {
        left: 0px;
        width: 280px !important;
        margin-right: 16px;
        flex-shrink: 0;
        text-align: center;

        .box-img {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            height: 140px;
            box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

            a {
                padding: 0;
                width: 100%;
                span {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 140px;
                        object-fit: fill;
                        transition: transform 0.3s ease 0s;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }

        .box-text {
            margin: 16px 0px 0px;
            padding: 0px;
            border-style: none;
            border-radius: 0px;
            border-width: 1px;
            border-color: unset;
            opacity: 1;
            background-color: transparent;
            color: inherit;
            font-weight: 500;
            text-decoration: unset;
            font-size: 15px;
            line-height: 24px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            max-width: unset;
            min-width: unset;
            transition: color 0.3s ease 0s;
        }
    }
}

@media screen and (max-width: 768px) {
    .carousel{
        overflow: hidden;
        padding-left: 0;
        // margin: 0 10px;

        .box{
            width: 233px !important;

            .box-img{
                height: 100px;

                img {
                    width: 100%;
                    height: 100px !important;
                    object-fit: fill;
                    transition: transform 0.3s ease 0s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    
}


@media screen and (max-width: 426px) {
    .carousel{
        overflow: hidden;
        padding-left: 0;
        margin: 0 10px;

        .box{
            width: 180px !important;
            height: auto !important;
            .box-img{
                height: 100px;

                img {
                    width: 100%;
                    height: 100px !important;
                    object-fit: fill;
                    transition: transform 0.3s ease 0s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .carousel{
        overflow: hidden;
        padding-left: 0;
        margin: 0 10px;

        .box{
            width: 160px !important;
            height: auto !important;
            .box-img{
                height: 100px;

                img {
                    width: 100%;
                    height: 100px !important;
                    object-fit: fill;
                    transition: transform 0.3s ease 0s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .carousel{
        overflow: hidden;
        padding-left: 0;
        margin: 0 10px;

        .box{
            width: 130px !important;
            height: auto !important;
            .box-img{
                height: 80px;

                img {
                    width: 100%;
                    height: 80px !important;
                    object-fit: fill;
                    transition: transform 0.3s ease 0s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}