.Bill {
    margin: 16px auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1264px;
    min-height: 77vh;

    .container-bill {
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        .container-left {
            width: 20%;
            // box-shadow: var(--box-shadow);
        }

        .container-right {
            width: 80%;
            // box-shadow: var(--box-shadow);
        }
    }
}

.active-bill {
    color: var(--primary);
    svg {
        width: 18px;
        height: 18px;
        color: currentColor;
    }

    h5 {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin: 0px 10px;
        flex: 1 1 0%;
        font-weight: 700;
    }
}

.container-right {
    h5 {
        font-size: 2rem;
    }

    .box-right {
        gap: 16px;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
    }
}

.box-right {
    .container-product {
        border-radius: 8px;
        background-color: var(--white-color);
        position: relative;
        margin-bottom: 16px;
        box-shadow: var(--box-shadow);
        overflow: hidden;
        max-width: 640px;
    }

    .container-info {
        padding: 16px 16px 0px;
        .address,
        .phone {
            font-size: 14px;
            font-weight: 700;

            span {
                font-weight: 400;
            }
        }
    }

    .order-items:nth-child(n + 2) {
        // border-style: none;
        // border-radius: 0px;
        // border-width: 1px;
        // border-color: unset;
        // opacity: 1;
        // padding: 16px;
        // background-color: white;
        border-top: 1px solid #ddd;
    }

    .box-product {
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        padding: 16px 16px 0px;
        .order-items {
            display: flex;
            gap: 12px;
            justify-content: space-between;
            padding: 16px 0px;
            .order-item {
                display: flex;
                gap: 12px;
                .order-img {
                    // display: inline-flex;
                    // align-items: center;
                    // justify-content: center;
                    // min-width: 100px;
                    // padding: 0px;
                    // border-radius: 4px;
                    // font-size: 1.3rem;
                    // font-weight: 400;
                    // font-family: var(--font-family);
                    // background-color: var(--white);
                    // border: 1px solid transparent;
                    // -webkit-user-select: none;
                    // user-select: none;

                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    height: 80px;
                    width: 80px;
                    border: 1px solid #e4e5f0;
                }

                .order-name {
                    color: rgb(67, 70, 87);
                    font-size: 13px;
                    line-height: 20px;
                }

                .order-info {
                    color: rgb(130, 134, 158);
                    font-size: 12px;
                    line-height: 16px;
                    -webkit-line-clamp: unset;
                }
            }
        }
    }

    .box-img {
        max-width: 100%;
        position: relative;
        overflow: hidden;
        flex: 1 0 auto;
        display: flex;
        cursor: unset;
        z-index: 0;
        margin: auto;
        border-radius: 0px;
        width: 200px;
        content-visibility: auto;
        height: 200px !important;
        margin-top: 130px;
    }

    .box-text {
        width: 100%;
        text-align: center;
        margin-top: 20px;

        h6 {
            font-size: 1.6rem;
        }
    }
}
