.container-left {
    .box-left {
        padding-right: 16px;

        .left-top {
            display: flex;
        }

        .left-bottom {
            padding: 0px;
            list-style: none;

            .bottom-btn {
                display: flex;
                padding: 0;
                justify-content: flex-start;
                margin-left: 0;
            }
        }
    }
}

.left-top {
    .top-img {
        max-width: 100%;
        display: flex;
        width: 44px;
        height: 44px !important;
        color: var(--icon-color);
    }

    .top-text {
        margin-left: 8px;

        .top-title {
            margin-bottom: 0px;
            font-weight: 400;
            font-size: 1.3rem;
        }

        .top-name {
            font-size: 1.6rem;
        }
    }
}

.left-bottom {
    margin-top: 8px;

    .bottom-list {
        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        padding: 0px;
        margin: 8px 0px;
        background: unset;
        font-weight: 700 !important;

        svg {
            width: 18px;
            height: 18px;
            color: currentColor;
        }

        h5 {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            margin: 0px 10px;
            flex: 1 1 0%;
            font-weight: 400;
            font-size: 1.4rem;
        }

        &:hover {
            color: var(--primary);
        }

        &:hover h5 {
            font-weight: 700;
        }
        &:hover svg {
            color: var(--primary) !important;
        }
    }

    .border-list {
        background-color: #e0e0e0;
        width: 100%;
        height: 1px;
        list-style: none;
    }
}

.bottom-btn {
    &.active {
        .bottom-list {
            color: var(--primary);

            h5 {
                font-weight: 700;
            }
        }
    }
}
