.box {
    box-shadow: var(--box-shadow);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 2px;
}

.container {
    // padding-left: 16px;
    // padding-right: 16px;
    padding: 0;
}

.header {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
    background-color: unset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .header-text {
        margin: 0;
        padding: 0;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        color: var(--black-color);
        font-weight: 700;
        -webkit-text-decoration: unset;
        text-decoration: unset;
        font-size: 20px;
        line-height: 28px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset;
        max-width: unset;
        min-width: unset;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

    a {
        padding: 0;
        display: flex;
        justify-content: end;
        color: #82869e;
        span {
            display: flex;
            align-items: center;
            color: var(--black-color);
            font-size: 1.4rem;
            font-weight: 400;

            a {
                padding: 0;
            }

            svg {
                margin-left: 2px;
                font-weight: 1;
                font-size: 1.4rem;
                height: 10px;
            }
        }
        &:hover {
            color: var(--black-color);
        }
    }
}

.wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-radius: 0px;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: transparent;
    // margin-bottom: 1.5rem;

    .container {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

        .header {
            position: relative;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            padding-left: 16px;
            padding-right: 16px;
            height: 56px;
            background-color: unset;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            .header-text {
                margin: 0;
                padding: 0;
                border-style: none;
                border-radius: 0px;
                border-width: 1px;
                border-color: unset;
                opacity: 1;
                background-color: transparent;
                color: var(--black-color);
                font-weight: 700;
                -webkit-text-decoration: unset;
                text-decoration: unset;
                font-size: 20px;
                line-height: 28px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: unset;
                max-width: unset;
                min-width: unset;
                -webkit-transition: color 0.3s ease;
                transition: color 0.3s ease;
            }

            button {
                padding: 0;
                display: flex;
                justify-content: end;
                color: #82869e;
                span {
                    display: flex;
                    align-items: center;
                    color: var(--black-color);
                    font-size: 1.4rem;
                    font-weight: 400;

                    button {
                        padding: 0;
                    }

                    svg {
                        margin-left: 2px;
                        font-weight: 1;
                    }
                }
                &:hover {
                    color: var(--black-color);
                }
            }
        }
    }
}

.products {
    display: flex;

    .box {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 12px;
        width: 100%;
        place-content: flex-start;
        gap: 2px;
        background: #f6f6f6;
        padding: 2px 0;
        padding-bottom: 0;

        .box-content {
            background-color: #fff;
            width: calc(20% - 2px);
            margin-bottom: 2px;
            position: relative;

            .box-content_mark {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                background-color: rgba(50, 50, 50, 0.5);
                
                p {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: #000;
                    opacity: 0.5;
                    color: #fff;
                    z-index: 2;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: context-menu;
                }
            }

            .box-content_marks{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                background-color: rgba(50, 50, 50, 0.5);
                border-radius: 4px;

                p {
                    // width: 100px;
                    // height: 100px;
                    // border-radius: 50%;
                    padding: 5px;
                    background-color: rgba(50, 50, 50, 0.5);
                    // opacity: 0.5;
                    color: #fff;
                    z-index: 2;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    font-size: 1.4rem;
                    cursor: context-menu;
                }
            }
        }
    }
}

.box-product {
    .image {
        margin-bottom: 2px;
        position: relative;

        .box-image {
            position: relative;
            overflow: hidden;
        }
    }
}

.box-image {
    img {
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease 0s;

        &:hover {
            transform: scale(1.1);
            object-fit: contain;
        }
    }
}

.promotion {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 87px;
    min-height: 36px;
    .box-promotion {
        height: 36px;
        line-height: 12px;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: space-around;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTYiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA5NiA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cmVjdCB3aWR0aD0iOTYiIGhlaWdodD0iNDAiIHJ4PSI0IiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXIpIiAvPgogIDxtYXNrIGlkPSJtYXNrMCIgbWFzay10eXBlPSJhbHBoYSIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9Ijk2IiBoZWlnaHQ9IjQwIj4KICAgIDxyZWN0IHdpZHRoPSI5NiIgaGVpZ2h0PSI0MCIgcng9IjQiIGZpbGw9IndoaXRlIiAvPgogIDwvbWFzaz4KICA8ZyBtYXNrPSJ1cmwoI21hc2swKSI+CiAgICA8cGF0aCBvcGFjaXR5PSIwLjMiCiAgICAgIGQ9Ik03NC4yNDQ2IC05LjAyODY5TDY1Ljg3NjcgOC45MTYyMUw3MC43NzA4IDExLjE5ODNMNjMuOTI0NCAyNS44ODA1TDg0LjQ3MjQgMTEuNjI5M0w3Ny45NDcgOC41ODY0Mkw5MC41NTgxIC0xLjQyMTU2TDc0LjI0NDYgLTkuMDI4NjlaIgogICAgICBmaWxsPSIjMUIxRDI5IiAvPgogIDwvZz4KICA8ZGVmcz4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhciIgeDE9IjM1LjcyMDkiIHkxPSIxLjY2NTQ0ZS0wNiIgeDI9IjU3Ljg4ODYiIHkyPSI0MC4wODczIgogICAgICBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CiAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiNBQTIwRkYiIC8+CiAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzQxM0VGRiIgLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgPC9kZWZzPgo8L3N2Zz4=)
            0% 0% / cover no-repeat;
        background-repeat: no-repeat;
        padding: 4px 8px;
        border-radius: 4px;
    }

    .promotion-text {
        font-size: 10px;
        font-weight: 700;
        color: rgb(255, 213, 145);
        text-align: left;
    }

    .promotion-money {
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        color: var(--white-color);
    }
}

.info {
    height: 32px;

    .box-info {
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-radius: 0px;
        border-width: 1px;
        border-color: unset;
        opacity: 1;
        background-color: transparent;
        color: rgb(67, 70, 87);
        font-weight: 400;
        text-decoration: unset;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-width: unset;
        min-width: unset;
        transition: color 0.3s ease 0s;

        h3 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.6rem;
            display: inline;
        }
    }
}

.price {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;

    .price-content {
        display: flex;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: start;
        height: 40px;

        .cost {
            margin: 0px;
            padding: 0px;
            border-style: none;
            border-radius: 0px;
            border-width: 1px;
            border-color: unset;
            opacity: 1;
            background-color: transparent;
            color: rgb(20, 53, 195);
            font-weight: 700;
            text-decoration: unset;
            font-size: 15px;
            line-height: 24px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: unset;
            max-width: unset;
            min-width: unset;
            transition: color 0.3s ease 0s;
        }

        .promotional {
            display: flex;
            height: 16px;

            .promotional_price {
                margin: 0px 0.25rem 0px 0px;
                padding: 0px;
                border-style: none;
                border-radius: 0px;
                border-width: 1px;
                border-color: unset;
                opacity: 1;
                background-color: transparent;
                color: rgb(130, 134, 158);
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: unset;
                max-width: unset;
                min-width: unset;
                transition: color 0.3s ease 0s;
                text-decoration: line-through;
            }

            .percent {
                margin: 0px;
                padding: 0px;
                border-style: none;
                border-radius: 0px;
                border-width: 1px;
                border-color: unset;
                opacity: 1;
                background-color: transparent;
                color: rgb(20, 53, 195);
                font-weight: 400;
                text-decoration: unset;
                font-size: 12px;
                line-height: 16px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: unset;
                max-width: unset;
                min-width: unset;
                transition: color 0.3s ease 0s;
            }
        }
    }
}

.gift {
    border-style: none;
    border-radius: 0px;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: transparent;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;

    .gift-text {
        font-size: 1.1rem;
        color: #1b1d29;
        font-weight: 500;
    }

    .gift-image {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        margin-left: 4px;
        content-visibility: auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.pagination {
    margin: 20px;
}

.page-link {
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
    .products {
        display: flex;

        .box {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: 12px;
            width: 100%;
            place-content: flex-start space-between;
            background: #f6f6f6;
            padding: 2px 0;
            padding-bottom: 0;

            .box-content {
                background-color: #fff;
                width: calc(33.33% - 2px);
                margin-bottom: 2px;
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .products {
        display: flex;

        .box {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: 12px;
            width: 100%;
            place-content: flex-start space-between;
            background: #f6f6f6;
            padding: 2px 0;
            padding-bottom: 0;

            .box-content {
                background-color: #fff;
                width: calc(50% - 2px);
                margin-bottom: 2px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    // .wrapper{
    //     transform: scale(0.9);
    //     padding: 0;
    // }
    .products {
        display: flex;

        .box {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: 12px;
            width: 100%;
            place-content: flex-start space-between;
            background: #f6f6f6;
            padding: 2px 0;
            padding-bottom: 0;

            .box-content {
                background-color: #fff;
                width: calc(50% - 2px);
                margin-bottom: 2px;
            }
        }
    }

    .box-content {
        // transform: scale(.9);
        a {
            padding: 0 5px;
        }
    }
}
