.container-img{
    text-align: center;

}

.box-control{
    text-align: center;
    margin-top: 10px;
}

.wrapper{
    // margin-bottom: 10px;
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    margin: 0 40px;
}