.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.carousel {
    // position: absolute;
}

.product {
    position: absolute;
    top: 5px;
    left: 40px;
    transition: All 0.3s ease 0s;
}
